<div class="">
    <h1>Đổi mật khẩu</h1>
</div>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">Mật khẩu hiện tại</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Dữ liệu không được để trống!">
            <input nz-input formControlName="password" type="password" placeholder="Nhập mật khẩu hiện tại" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="newPassword">Mật khẩu mới</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Dữ liệu không được để trống!">
            <input nz-input formControlName="newPassword" type="password" placeholder="Nhập mật khẩu mới" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="confirmNewPassword">Nhập lại mật khẩu
            mới</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Dữ liệu không được để trống!">
            <input nz-input formControlName="confirmNewPassword" type="password" placeholder="Xác nhận mật khẩu mới" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Cập nhật</button>
        </nz-form-control>
    </nz-form-item>
</form>