<footer class="w-full my-[28px]">
    <div class="flex justify-around w-[80%] max-w-[1100px] mx-auto">
        <div class="w-[220px] text-[#3a4752] text-[12px]">
            <h1 class="uppercase font-bold text-[16px] mb-2">Thông tin hữu ích</h1>
            <div class="flex">
                <div class="w-1/2 my-1">
                    <div><a href="">Giới thiệu chung</a></div>
                    <div><a href="">Review Truyện - Cafee Sách</a></div>
                    <div><a href="">Tin tức</a></div>
                    <div><a href="">Thử thách đọc sách</a></div>
                </div>
                <div class="w-1/2 my-1">
                    <div><a href="">Thỏa thuận sử dụng dịch vụ</a></div>
                    <div><a href="">Quyên lợi</a></div>
                    <div><a href="">Quy định riêng tư</a></div>
                </div>
            </div>
        </div>
        <div class="text-center  text-[#3a4752] text-[12px]">
            <h1 class="uppercase font-bold text-[16px] mb-2">Thông tin liên hệ</h1>
            <button
                class="flex items-center px-[29px] py-[11px] bg-[#1ca081] text-white rounded-[25px] text-[18px] font-bold mb-[30px]">
                <img src="	https://ebook.waka.vn/themes/desktop/images/icon_phone.png" alt="">
                1900545482
            </button>
            <div>Tổng đài tư vấn</div>
            <div>
                (8:00 AM - 22:00 PM)

            </div>
        </div>
    </div>
    <div class="w-[80%] max-w-[1100px] mx-auto text-[#3a4752] text-[12px] pt-4 mt-4  space-y-2 border-t">
        <p>Công ty Cổ phần Sách LiteraryLoom - Tầng 4, tháp văn phòng quốc tế Hòa Bình, số 106, đường Hoàng Quốc Việt,
            phường Nghĩa Đô, Quận Cầu Giấy, thành phố Hà Nội, Việt Nam.</p>
        <p>ĐKKD số 0108796796 do SKHĐT TP Hà Nội cấp ngày 24/06/2019 | Chịu trách nhiệm nội dung: Ông Đinh Quang Hoàng
        </p>
        <p>Giấy xác nhận Đăng ký hoạt động phát hành xuất bản phẩm điện tử số 8132/XN-CXBIPH do Cục Xuất bản, In và Phát
            hành cấp ngày 31/12/2019</p>
        <p>Giấy chứng nhận Đăng ký cung cấp dịch vụ nội dung thông tin trên mạng Viễn thông di động số 19/GCN-DĐ do Cục
            Phát thanh, truyền hình và thông tin điện tử ký ngày 11/03/2020</p>
        <p>Số VPGD: 024.73086566 | Số CSKH: 1900545482 nhánh 5 | Hotline: 0877736289</p>
    </div>
</footer>